::selection {
  background-color:#0575E6;
  color: #fff;
}
::-moz-selection {
  background-color:#0575E6;
  color: #fff;
}

a:hover {
  color:#0575E6;
}

a,
.theme-color,
.mm-column li.mm-header > a,
.mm-column li:not(.mm-header) a:hover,
.btn-t-white:hover,
.btn-white {
  color:#0575E6;
}


.theme-before:before,
.theme-after:after,
.btn-theme,
.btn-white:hover,
.theme-hover:hover,
.owl-nav > div,

.theme-bg {
  background-image: linear-gradient(to right, #ff0000, #ef6762);
}

.btn-theme:hover{
  background-image: linear-gradient(to right, #0575E6, #0575E6);
}

.btn-theme-cotizar {
  background-image: linear-gradient(to right, #0540E6, #0575E6);
  color: #fff;
  font-size: 14px;
}

.btn-theme-cotizar:hover {
  background-image: linear-gradient(to right, #0020E6, #0060E6);

  
  color: #fff;

}

.extra
{
  font-size: 14px; width: 30px; height: 30px; line-height: 30px;
}
.como-funciona-numeros
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.centrar-imagen
{
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.como-funciona-titulo
{
  text-align: center;
}

.tienda-gradient
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  width: 280px; 
  height:inherit;
}

.tienda-texto
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #333;
  width: 100%;
  text-align:center;
}
/*
.faq-header
{
  height: 100px;
  background-image: url('../../img/propias/tiendas/tecnologia/tecnologia.png');
}
*/

.feature-box-04-como-funciona {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06);
  padding: 40px 30px 20px 30px;
  position: relative;
  overflow: hidden;
}


.faq-separador {
  
  border-radius: 5px;
  margin: 0 0 10px;
}

.faq-separador .faq-title { 
  padding: 50px 0px 10px 0px;
  margin: 0;
  font-size: 18px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  color: #333;
}

.std-box-01-custom {
  position: relative;
  padding-left: 0px;
}

.theme-bg-cotizar {
  /*background-image: linear-gradient(to right, #ff0000, #ef6762); */
}

.price-table-01.active,
.border-color {
  border-color: #0575E6 !important;
} 

.theme-color-g {
  background: linear-gradient(to right, #0575E6, #0575E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.social-icons-small {
  display: block;
  padding: 0;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  border-radius: 5px;
}

